# 网络测试脚本配置文件
# 注释以#开头，每行一个配置

# Ping测试目标(多个目标用空格分隔)
PING_TARGETS=("10.1.32.61" "8.8.8.8" "1.1.1.1" "114.114.114.114")

# HTTP/HTTPS测试目标
HTTP_TARGETS=(
    "http://www.baidu.com"
    "http://www.google.com"
    "https://www.google.com"
    "https://github.com"
    "https://www.qq.com"
    "https://mirrors.aliyun.com"
)

# 详细HTTPS测试目标
HTTPS_DETAILED_TARGETS=("https://www.google.com" "https://github.com")

# DNS测试域名
DNS_TARGETS=("www.baidu.com" "www.google.com" "github.com" "www.qq.com")

# 端口测试目标(主机:端口列表)
# 注意: 数组格式，键是主机，值是端口列表
declare -A PORT_TARGETS=(
    ["www.baidu.com"]="80 443"
    ["github.com"]="443 22"
    ["8.8.8.8"]="53"
)

# 测试参数
PING_COUNT=4
PING_TIMEOUT=2
CURL_TIMEOUT=10
TRACEROUTE_HOPS=15
TRACEROUTE_TIMEOUT=1
PERF_TEST_COUNT=10
PERF_TEST_INTERVAL=0.2
